@model List<Departman>

<table class="table table-bordered">

    <thead>

        <tr>
        </tr>

    </thead>

    <tbody>
        @foreach (var departman in Model)
        {
            <tr>

                <td>@departman.Id</td>
                <td>@departman.Ad</td>
                <td>@departman.Birim.Ad</td>
               
                <td>
                    <a asp-controller="Departman" asp-action="EkleGuncelle" asp-route-id="@departman.Id" type="button" class="btn btn-success" style="width:250px">Güncelle</a>
                </td>

                <td>
                    <a asp-controller="Departman" asp-action="Sil" asp-route-id="@departman.Id" type="button" class="btn btn-danger" style="width:250px">Sil</a>
                </td>

            </tr>
        }
    </tbody>

</table>

